.left {
    left:-8.33%;
    text-align: left;
    float: left;
    width:50%;
    z-index:-10;
}

.right {
    left:31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index:-10;
    width:50%;
}

.reveal .monospaced {
    font-family: monospace;
    font-size: 0.55em;
    text-align: left;
    width: 90%;
    margin: auto;
}

pre code span.hljs-type {
    color: black;
}

pre code span.hljs-keyword {
    font-weight: bold;
}

#accuracies table tr.no-border td {
    border: none;
}

#accuracies .table-part-1, #accuracies tr:not(.table-part-2) td:last-child {
    color: #820b77;
    border-color: black;
}

#accuracies tr.table-part-1 td {
    border-color: black;
}

#accuracies .table-part-2, #accuracies tr:not(.table-part-1) td:first-child {
    color: darkblue;
}

#accuracies table tr td.focus {
    border-color: black;
    color: #a20101;
}

body .reveal pre {
    box-shadow: none;
}

.reveal pre code {
    color: black;
    max-height: 455px;
}
